.konten {
  width: 550px;
  text-align: center;
  color: rgb(32, 33, 36);
}

.result {
  width: 300px;
  margin-top: 7px;
  margin-left: 125px;
  margin-bottom: 7px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 40px;
}

.pilih {
  font-family: arial, sans-serif;
  font-size: 30px;
  margin-top: 40px;
}
.pilihan {
  background-color: rgb(156, 95, 255);
  background-position: center;
  transition: background 0.8s;
}
.pilihan:hover {
  background: #f352f3 radial-gradient(circle, transparent 1%, rgb(156, 95, 255) 1%) center/15000%;
}
.pilihan:active {
  background-color: rgb(156, 95, 255);
  background-size: 100%;
  transition: background 0s;
}
